bin/
.settings
gen/
obj/
build/
.classpath
.project
.cproject
local.*
project.properties
*.sdf
*.sln
*.vcxproj
*.filters
*.user
*.opensdf
*.suo
*.asv
.idea
*.iml
x64/
armeabi/
x86/
ipch/
Debug/
*.psess
*.vsp
*/assets/crashlytics-build.properties
*/res/values/com_crashlytics_export_strings.xml
lint.xml
/pexeso/cortex/benchmarks
*.csv
*.vsps
/performance
/benchmark
/android-mobile
/cortex
/alicewho-android
/common-java
/alicewho-ios
/pexeso
/urbo-android/pexeso-android
